<p align="center">

  <br>

  <img src="https://raw.githubusercontent.com/Javascipt/soon/master/ressources/icons/icon.png" />
  <br><br><br>

  <b> We are not ready yet, we are probably wearing our hardhats and hardgloves to get this package released !!</b>
  <% if(github || twitter) { %>
  Make sure to follow us on twitter and github to be updated and be the first one to test our <b>AWSOME</b> package !
  <br><br>
  
  <% if(twitter) { %>
  <a target="_blank" href="http://twitter.com/<%= twitter %>">
    <img src="https://raw.githubusercontent.com/Javascipt/soon/master/ressources/icons/twitter.png">
  </a> <% } %> <% if(github) { %> <a target="_blank" href="http://github.com/<%= github %>">
    <img src="https://raw.githubusercontent.com/Javascipt/soon/master/ressources/icons/github.png">
  </a>
  <% } %>
  
  <% } %>
</p>
